.projects__container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

@media (min-width:780px) {
    .projects__container {
        grid-template-columns: repeat(2, 1fr);
    }
}