.header {
    height: 80vh;
    padding-top: 5rem;
    display: grid;
    place-content: center;
}

.header__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;
}

.job-title-container span {
    position: relative;
    /* background-color: red; */
}

.curved-underline {
    position: absolute;
    width: 3rem;
    bottom: -0.2rem;
    left: 0;
}

.three-lines {
    height: 1.3rem;
    position: absolute;
    top: -.1rem;
    right: -1.1rem;
}

.job-title-container h1 {
    font-size: 2rem;
    font-weight: 500;
}

.bio {
    color: var(--clr-light-txt-gray);
    line-height: 1.7;
}

.cv-btn {
    background-color: var(--clr-green);
    padding-block: 1rem;
    font-weight: 600;
    gap: .6rem;
    padding-inline: .9rem;
    border: none;
    color: var(--clr-white);
    text-decoration: none;
    border-radius: .375rem;
}

.arr-down-container {
    margin-top: 5rem;
}

.arr-down-container img {
    transform: rotateZ(-90deg);
    animation: animate 2s linear 200ms infinite;
    transition: all 300ms ease-in-out;
}

@keyframes animate {
    from {
        opacity: .1;
    }

    to {
        opacity: 1;
    }
}

/* DARK THEME */
#dark .bio {
    color: var(--clr-dark-txt-gray);
}