.nav {
    width: 100vw;
    box-shadow: none;
    transition: background-color box-shadow 250ms ease-in;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--clr-light-background);
}

.nav-shadow {
    --tw-shadow: hsla(210, 8%, 62%, .2) 0px 8px 24px;
    --tw-shadow-colored: 0px 8px 24px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.nav__container {
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
}

.nav--links {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.mode-btn {
    background-color: transparent;
    border: none;
    padding: .5rem;
    border-radius: .375rem;
    bottom: none;
    font-size: 1.5rem;
    border: 2px solid #e5e7eb;
}

.connect-btn {
    background-color: var(--clr-black);
    padding-block: .5rem;
    border-radius: 5px;
    flex: 1;
    border: none;
    transition: var(--transition);
    width: 120px;
    gap: .7rem;
    text-decoration: none;
    color: var(--clr-white);
}

.connect-btn:hover {
    background-color: var(--clr-blue);
}

/* DARK THEME */
#dark .nav {
    background-color: var(--clr-dark-background);
}

#dark {
    --clr-dark: hsl(0, 0%, 16%);
    background-color: var(--clr-dark);
}

#dark .mode-btn {
    border: none;
    background-color: hsl(0, 0%, 16%);
    color: var(--clr-white);
}

#dark .connect-btn {
    background-color: var(--clr-white);
    color: var(--clr-black);
}

#dark .connect-btn:hover {
    --clr-hover: hsl(214, 32%, 91%);
    background-color: var(--clr-hover);
}

#dark .nav-shadow {
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: #3a3a3a 0px 0px 0px 2px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}