.footer {
    padding-block: 2rem;
    box-shadow: var(--box-shadow);
}

.footer__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.footer__container p {
    font-size: 0.9rem;
}

.footer__container a {
    font-size: 1.2rem;
    color: var(--clr-blue);
    cursor: pointer;
    font-style: italic;
    font-weight: 700;
    text-decoration: none;
}

.socials {
    color: var(--clr-blue);
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.socials a {
    font-size: 1.5rem;
}